.dark {
	color: #333!important
}

.white {
	color: #fff!important
}

.red {
	color: #dd5a43!important
}

.light-red {
	color: #f77!important
}

.blue {
	color: #478fca!important
}

.light-blue {
	color: #93cbf9!important
}

.green {
	color: #69aa46!important
}

.light-green {
	color: #b0d877!important
}

.orange {
	color: #ff892a!important
}

.light-orange {
	color: #fcac6f!important
}

.orange2 {
	color: #feb902!important
}

.purple {
	color: #a069c3!important
}

.pink {
	color: #c6699f!important
}

.pink2 {
	color: #d6487e!important
}

.brown {
	color: #a52a2a!important
}

.grey {
	color: #777!important
}

.light-grey {
	color: #bbb!important
}
